:root {
    --bg-color: #1a1a1a;
    --card-bg: #333;
    --text-color: white;
    --planet-size: 90px;
    --hover-scale: 1.1;
    --gap-size: 35px;
    --sun-width: 200px;
    --sun-height: 350px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 70px;
}

header h1 {
    margin-bottom: 50px; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: var(--gap-size);
    align-items: center; 
    justify-content: center;
    max-width: 900px;
    margin: auto;
}

.sun-card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--sun-width);
    height: var(--sun-height);
    margin: auto; 
}


.sun .planet-circle {
    background: yellow;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
    /* grid-auto-flow: column; */
    /* background-color: green; */
}


.card {
    width: 700 px;
    height: 250 px;
    background: var(--card-bg);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;

}

.card:hover {
    transform: scale(var(--hover-scale));
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.planet-circle {
    width: var(--planet-size);
    height: var(--planet-size);
    border-radius: 50%;
    margin: 0 auto 10px;
}

.mercury .planet-circle { background: gray; }
.venus .planet-circle { background: orange; }
.earth .planet-circle { background: blue; }
.mars .planet-circle { background: red; }
.jupiter .planet-circle { background: brown; }
.saturn .planet-circle { background: goldenrod; }
.uranus .planet-circle { background: lightblue; }
.neptune .planet-circle { background: darkblue; }
